<form action="/users/sessions/log_out">
	<input type="submit" name="commit" id="Log Out" value="Log Out">
</form>
<div id="secret_scroll">
<h1>Secrets</h1>
<% for i in @secrets %>
<h3><%= i.content %></h3><h4>Likes: <%= i.likes.count %></h4> 
	<form action="/secrets/destroy/<%= i.id %>"><input type="submit" name="commit" value="Delete" id="Delete"></form>
	<form action="/likes/create/<%= i.id %>" method="post">
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		<input type="submit" name="commit" value="Like" id="Like">
	</form>
	<form action="/likes/destroy/<%= i.id %>" method="post">
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		<input type="submit" name="commit" value="Unlike" id="Unlike">
	</form>
	<br><br>
<% end %>
</div>


